@model TumbleTracker.Models.MeetGymnast

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeetGymnast</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreBars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreBars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreBeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreBeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreVault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreVault)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gymnast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gymnast.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meet.EventName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeetGymnastId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
